<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    span {
        margin: 10px;
    }
</style>

<div class="container">

    <span>Hello, {{name}}</span>

    <br/>

    <span>You requested password change.</span>
    <span>To make the exchange, click the link <a href={{link}}>{{link}}</a></span> 

    <span>If you were not the one who requested to change your password, just ignore this email.</span>

    <strong>Thanks</strong> 

    <h3>Team | <strong>Nk07x</strong></h3>
</div>